/*toc目录-begin*/
.toc_wrap{
  margin-bottom: 1em;
}

.toc_root {
    display: inline-block;
    min-width: 225px;
    padding: 20px 10px 10px;
    background: #f9f9f9;
    line-height: 2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.toc_wrap a {
    color: #75b17d;
    text-decoration: none;
    cursor: pointer;
}

.toc_wrap a:hover {
    text-decoration: underline;
    color: #333;
}

.toc_wrap.hide .toc_root {
    display: none;
}

.toc_wrap.hide .show_toc_btn {
    display: inline-block;
}

.toc_root {
    position: relative;
}

.toc_lvl {
    display: block;
    padding-left: 22px;
}

.toc_lvl_1 {
    padding-left: 0;
}

.toc_wrap .hide_toc_btn {
    position: absolute;
    top: 4px;
    right: 10px;
}

.toc_wrap .show_toc_btn {
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    background: #f9f9f9;
    line-height: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

/*toc目录-end*/