[submodule "code/example/subjs-editor"]
	path = code/example/subjs-editor
	url = https://github.com/wanls4583/subjs-editor.git
[submodule "code/example/jy-ui"]
	path = code/example/jy-ui
	url = https://github.com/wanls4583/jy-ui.git
