---
title: 首页
layout: page
---
<article class="home_page_wrap">
	<ul class="post_list_box">
		{% for post in paginator.posts %} 
		<li class="post_item">
			<div class="item_header">
				<span class="time">{{ post.date | date: "%B %d, %Y"}}</span>
				{% if site.reading_time %}
				<span class="reading-time">
				{% assign readtime = post.content | strip_html | number_of_words | divided_by:site.words_per_minute %}
				阅读时长 ~
				{% if readtime <= 1 %}
				1分钟
				{% else %}
				{{ readtime }} 
				分钟
				{% endif %}
				</span>
				{% endif %}
			</div>
			<a href="{{post.url}}" class="item_title">
				{{post.title}}
			</a>
			<div class="item_cont">
				{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;
			</div>
		</li>
		{% endfor %}
	</ul>
</article>
{% include pagination.html %}	