---
layout: page
title: 
header: 根据快速导航到相应的文章
group: navigation
---
<article class="tag_page_wrap">
	<ul class="tag_list_box">
		{% for tag in site.tags %} 
		<li class="tag_item"><a href="#{{ tag[0] }}-ref">{{ tag[0] }}</a></li>
		{% endfor %}
	</ul>

	<ul class="post_title_list_box">
		{% for tag in site.tags %} 
			<li class="post_title_list_wrap" id="{{ tag[0] }}-ref">
				<h3 class="tag_title"><span>{{tag[0]}}</span><img src="/images/tag-icon.png"/></h3>
				<ul class="post_title_list">
					{% for post in tag[1] %} 
						<li class="post_title"><a href="{{post.url}}">{{post.title}}</a></li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
</article>



