<nav class="nav">
	<div class="menu">
		<label for="chk">
			<div class="btn"></div>
		</label>
		<input type="checkbox" id="chk">
		<ul class="menu_list_wrap">
			<li class="item anchor_home"><a href="/index">首页</a></li>
			<li class="item anchor_tag"><a href="/tag/">标签</a></li>
			<li class="item anchor_all"><a href="/all/">所有文章</a></li>
			<li class="item">
				<a href="https://github.com/wanls4583/"><i class="iconfont">&#xe7ab;</i>GitHub</a>
			</li>
			<li class="item">
				<a href="mailto:409051987@qq.com"><i class="iconfont">&#xe643;</i>Email</a>
			</li>
		</ul>
	</div>
</nav>