@charset 'utf-8';

.all_page_wrap {
    .tag_list_box{
        padding-left: 110px;
    }
    .tag_item{
        margin-right: 1em;
    }
}

.anchor_all a {
    background-color: rgba(255, 248, 213, .1);
}

@media #{$bigger-then-small}{
    .all_page_wrap{
        ._wrap{
            h3{
                display: none;
            }
        }
    }
}

@media #{$large}{
    .tag_list_box{
        padding-bottom: 30px !important;
    }
    .right_wrap{
        .post_title_list {
            li{
                padding-right: 100px;
            }
        }
        .r_w{
            position: absolute;
            top: 0;
            right: 0;
            border-bottom-style: none !important;
            font-size: 1em !important;
            line-height: 2.5em !important;
        }
    }
}
