@charset 'utf-8';

html,
body {
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
    font-size: 14px;
}

.page_container {
    max-width: #{$large-width};

    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    word-break: break-all;
}

@media #{$large} {

    .page_container {
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;;
    }
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    .head_wrap {
        position: relative;
        height: 400px;
        .bg {
            width: 100%;
            height: 100%;
        }
        .intro_wrap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            .name {
                position: relative;
                user-select: none;
                img {
                    max-width: 100%;
                }
            }
            .motto {
                color: #fff;
                font-family: "Lato",Calibri,Arial,sans-serif;
                font-size: 1.5em;
                font-weight: bold;
                text-shadow: 0 6px 12px rgba(34,34,34,.4);
            }
        }
    }
}

footer {
    padding: 20px;
    color: #999;
    text-align: center;
    a {
        color: #337ab7;
    }
}

@font-face {
    font-family: "iconfont";
    src: url("/iconfont/iconfont.eot?#iefix") format("embedded-opentype"),
    url("/iconfont/iconfont.woff") format("woff"),
    url("/iconfont/iconfont.ttf") format("truetype");
}

.iconfont {
    display: inline-block;
    margin-right: .5em;
    font-family: "iconfont";
    font-style: normal;
}
