@charset "utf-8";

.page_container {
    background-color: #fff;
    box-shadow: 0 0 0 0, 0 6px 12px rgba(34, 34, 34, .1);
    .post-meta {
        color: #999;
        a {
            margin-right: 20px;
            color: #999 !important;
        }
        a:hover {
            color: #000 !important;
        }
    }
    .pre_next_warp {
        padding: 50px 0;
        margin: 40px 0 0;
        overflow: auto;
        border-top: 1px solid rgba(0, 0, 0, .1);
        .pre_wrap,
        .next_wrap {
            a {
                color: #666;
            }
            a:hover {
                color: #000;
            }
        }
        .pre_wrap {
            float: left;
        }
        .next_wrap {
            float: right;
        }
    }
}

.content_container {
    padding: 20px;
    overflow: auto;
    color: #666;
    h1,
    h2,
    h3,
    h4,
    h5 {
        /*color: #333;*/
        margin: 20px 0;
        word-break: break-all;
        color: #333;
    }
    h1 {
        padding: 30px 0 0 0;
        font-size: 2em;
        font-weight: bold;
    }
    h2 {
        padding: 30px 0 0 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
        font-size: 1.5em;
        font-weight: bold;
    }
    h3 {
        font-size: 1.2em;
        font-weight: bold;
    }
    h4 {
        font-size: 1em;
        font-weight: bold;
    }
    h5 {
        font-size: .8em;
    }
    h6 {
        font-size: .6em;
    }
    ul {
        margin-left: .8em;
    }
    ol {
        margin-left: 1em;
    }
    ul > li {
        position: relative;
        &:before {
            position: absolute;
            top: -2px;
            left: -.8em;
            content: "\e665";
            font-family: iconfont;
            font-size: 25px;
            color: #{$theme_color};

        }
    }
    ol > li {
        list-style-type: decimal;
    }
    blockquote {
        font-size: 16px;
    }
    .highlight,
    p,
    table {
        margin: 15px 0;
    }
    code.highlighter-rouge {
        padding: 3px 5px;
        margin: 0 2px;
        border-radius: 2px;
        background-color: #f8f8f8;
        font-family: "Roboto Mono", Monaco, courier, monospace;
        color: #e96900;
    }
    p {
        overflow: auto;
    }
    img {
        max-width: 100%;
    }
    blockquote {
        padding: 0 0 0 20px;
        margin: 0;
        border-left: 2px solid #{$theme_color};

        font-style: italic;
    }
    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    th {
        padding: 5px 10px;
        border-bottom: 1px solid #e5e5e5;
        text-align: left;
        color: #444;
    }

    td {
        padding: 5px 10px;
        border-right: 1px solid #{$theme_color};

        border-bottom: 1px solid #e5e5e5;
        text-align: left;
    }

    td:first-child {
        border-left: 1px solid #{$theme_color};

    }

    dt {
        font-weight: 700;
        color: #444;
    }

    a {
        font-weight: 400;
        text-decoration: none;
        color: #{$theme_color};

    }
}

@media #{$small} {

    h1 {
        font-size: 1.5em !important;
        line-height: 1.2em !important;
    }
    .next_wrap {
        float: left !important;
        margin-top: 10px;
    }
}

.toc_wrap {
    margin-bottom: 20px;
}

.toc_root {
    display: inline-block;
    min-width: 225px;
    padding: 20px 10px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #f9f9f9;
    font-size: 1em;
    line-height: 2;
}

.toc_wrap.hide .toc_root {
    display: none;
}

.toc_wrap.hide .show_toc_btn {
    display: inline-block;
}

.toc_root {
    position: relative;
}

.toc_lvl {
    display: block;
    padding-left: 22px;
    a:hover {
        color: #333;
    }
}

.toc_lvl_1 {
    padding-left: 0;
}

.toc_wrap .hide_toc_btn {
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    &:hover {
        color: #333;
    }
}

.toc_wrap .show_toc_btn {
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #fbfbfb;
    font-size: 1em;
    line-height: 1.5;
    &:hover {
        color: #333;
    }
}

@media #{$large} {

    .content_container {
        padding: 20px 50px;
    }
}
