@charset 'utf-8';

// 文章列表-begin
.post_title_list_box {
    .post_title_list_wrap {
        position: relative;
        .axis {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 70px;
            width: 4px;
            background-color: $tag_color;
            font-size: 2em;
            font-weight: bold;
            color: #333;
            &:before {
                position: absolute;
                z-index: 1;
                top: 24px;
                left: -4px;
                width: 12px;
                height: 12px;
                content: '';
                border-radius: 50%;
                background-color: #fff;
            }
            &:after {
                position: absolute;
                z-index: 0;
                top: 20px;
                left: -8px;
                width: 20px;
                height: 20px;
                content: '';
                border-radius: 50%;
                background-color: $tag_color;
            }
        }
        .left_year {
            position: absolute;
            top: 15px;
            left: 0;
            margin: 0;
            padding: 0;
            font-size: 1.5em;
            line-height: 1.5em;
            color: #000;
        }
        .right_wrap {
            padding-bottom: 40px;
            ._wrap {
                position: relative;
                margin-left: 110px;
                padding: 20px;
                border-radius: 4px;
                background-color: #fff;
                box-shadow: 0 0 0 0, 0 6px 12px rgba(34, 34, 34, .1);
                h3 {
                    margin: 0 0 10px;
                    padding: 0;
                    font-size: 1.5em;
                    color: #000;
                }
                .post_title_list {
                    li {
                        position: relative;
                        /*line-height: 2.5em;*/
                        font-size: 1em;
                    }
                }
                .post_title {
                    display: inline-block;
                    max-width: 350px;
                    padding: .8em 0;
                    line-height: 1.2em;
                    color: #333;
                    &:hover {
                        color: #000;
                        text-decoration: underline;
                    }
                }
                .r_w {
                    display: block;
                    padding: 0 0 .8em;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    font-size: .8em;
                    a {
                        color: #999;
                    }
                    a:hover {
                        color: #000;
                    }
                    .tag {
                        margin-right: 20px;
                    }
                }
                &:after {
                    position: absolute;
                    top: 22px;
                    right: 100%;
                    margin-right: -2px;
                    content: '';
                    border: 16px solid transparent;
                    border-top-width: 10px;
                    border-right-color: #fff;
                    border-bottom-width: 10px;
                }
            }
        }
    }
    .post_title_list_wrap:last-of-type {
        .right_wrap {
            padding-bottom: 0;
        }
    }
}
// 文章列表-end

// 小设备隐藏左边时间轴
@media #{$small} {
    .axis {
        display: none;
    }
    .left_year {
        display: none;
    }
    .post_title_list_wrap .right_wrap ._wrap {
        margin-left: 0 !important;
        &:after {
            display: none;
        }
    }
    .tag_list_box {
        padding-left: 0 !important;
    }
}
