@charset "utf-8";

.tag_page_wrap {
    .tag_list_box{
        padding-left: 40px;
    }
    .axis{
        padding-left: 0 !important;
    }
    ._wrap{
        padding-left: 40 !important;
    }
}

.anchor_tag a {
    background-color: rgba(255, 248, 213, 0.1);
}

@media #{$bigger-then-small}{
    .right_wrap{
        .post_title_list {
            li{
                padding-right: 100px;
            }
        }
        .r_w{
            position: absolute;
            right: 0;
            top: 0;
            line-height: 2.5em !important;
            font-size: 1em !important;
            border-bottom-style: none !important;
        }
    }
}

@media #{$large}{
    .tag_list_box{
        padding-bottom: 30px !important;
    }
}