<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"></meta>
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
	<link rel="stylesheet" type="text/css" href="/css/post.css">
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
	{% include navigation.html %}
	<header>{% include header.html %}</header>
	<div class="page_container">
		<div class="content_container">
			{{content}}
		</div>
	</div>
	<footer>{% include footer.html %}</footer>
</body>
</html>