<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"></meta>
	<title>{% if page.title %}{{ page.title }}{% endif %}</title>
	{% if page.title=='标签' %}
	<link rel="stylesheet" type="text/css" href="/css/tag.css">
	{% endif %}
	{% if page.title=='首页' %}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	{% endif %}
	{% if page.title=='全部文章' %}
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	{% endif %}
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
	{% include navigation.html %}
	<header>{% include header.html %}</header>
	<div class="page_container">
		<div class="content_container">
			{{content}}
		</div>
	</div>
	
</body>
</html>